* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Calibri Light", sans-serif;
}

a:link {
    color: #FF851B; 
    font-weight:bold;
    background-color: transparent; 
    text-decoration: none;
}

a:hover { 
    background-color: #7FFFD4;
    opacity: 0.9;
    filter: alpha(opacity=50)
}

a:visited { 
    color: #00BFFF;
}

img.background1 {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
	font-size: 50px;
	padding: 10px;
	letter-spacing: 2px;
}

/*controls main box of text aka everything*/
.MainClass { 
	position: relative; 
	width: 800px; 
	margin: 150px auto; 
	padding: 30px;
	background-color: rgba(0,0,0,0.6); 
	color: white;
	right: -100px;
	text-align: center;
}

.UserResearchTestingClass p{
	font-size: 30px;
	font-weight: bold;
	padding-right: 0px;
	color: white;
	padding-top: 40px;
	text-align: left;
}

.UserResearchTestingSubClass p{
	font-size: 22px;
	font-weight: bold;
	padding-right: 10px;
	color: white;
	padding-top: 30px;
	text-align: center;
	text-indent: 25px;
	margin: 10px 10px 30px 10px; 
}

.UserResearchTestingSubClassParagraph p{
	font-size: 14px;
	padding-right: 10px;
	color: white;
	text-indent: 25px;
	margin: 10px 10px 30px 10px; 
	padding-top: 5px;
	text-align: right;
	letter-spacing: 1.5px;
}


